{% load static %}
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% if user and not user.is_anonymous %}  
        <li><a href="{% url 'company:profile' %}" style="color: #ffffff">Profile</a></li>
        <li><a href="{% url 'company:forum_lowongan' %}" style="color: #ffffff">Forum</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user and not user.is_anonymous %}
        <a href="{% url 'logout' %}" onclick="return confirm('Keluar?')" class="lg btn btn-danger">Logout</a>           
        {% else %}
        <a href="{% url 'social:begin' backend='linkedin-oauth2' %}" class="ln btn btn-primary">Login with Linkedin</a>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
