{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">
{% endblock %} 
{% block content %}
    <h1>Forum {{ company.name }}</h1>
    <div class="col-sm-3">
        <div class="section">
             <img class="profile-icon" src="{{ company.logo_url }}" >
            <h3>{{ company.name }}</h3>
            <h4><a href="{{company.web_url}}" target="_blank">{{company.web_url}}</a></h4>
        </div>
    </div>
    <div class="flex">
    {% for post in posts %}
        <div class="update-status sentence-break-overflow fadeInDown">
            
            <p class="status">{{ post.lowongan_kerja }}</p>
        </div>
    {% endfor %}
    </div>
    <div class="status-input-container">
        <form class="status-input" action="{% url 'company:forum_lowongan' %}" method="POST">
            {% csrf_token %}
            {{ post_form }}
            <input class="b btn" type="submit" value="POST">
        </form>
    </div>   
{% if posts.has_previous %}
    <a href="?page={{ posts.previous_page_number }}">previous</a>
{% endif %}
<span class="current">
    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
</span>
{% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}">next</a>
{% endif %}    
{% endblock %}
    