{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block css %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/company.css' %}" />
{% endblock %}


{% block title %}
  Profile Perusahaan
{% endblock %}


{% block content %}
{% if company %}
<div class="panel panel-info">
    <div class="text-center panel-heading">
        <h1> {{company.name}}</h1>
    </div>
    <div class="panel-body" style="padding:3em" >
        <div class="image col-sm-5">
            <img src="{{company.logo_url}}" class="img-circle" style="width: 50%; height: 50% ;position: relative; left:0rem; top: 2rem; ">
            <br>
        </div>
        <div class="hal col-sm-5" >
            <h2 class="sum">About Company</h2>
            <p id="atas" ><b>Tipe Perusahaan: </b>{{company.type}}</p>
            <p id="tengah"><b>Web Perusahaan: </b><a href="{{company.web_url}}" target="_blank">{{company.web_url}}</a></p>
            <p id="bawah">
                <b>Spesialitas: </b>{{company.speciality}}</p>
            <div class="box">
                <a href="{% url 'company:forum_lowongan' %}" class="btn btn-warning wl"> Lihat Forum </a>
                <a href="#" class="btn btn-warning wl"> Cari Mahasiswa </a>           
            </div>
        </div>
    </div>
{% else %}
    <div class="alert alert-danger">
        <strong>Anda tidak memiliki perusahaan!</strong>
    </div>
{% endif %}
  
{% endblock %}


