{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">
{% endblock %} 
{% block content %}
    {% if posts %}
         <div class="flex">
        {% for post in posts %}
            <div class="update-status sentence-break-overflow fadeInDown">
                <div class="profile">
                    <img class="profile-icon" src="{{ post.company.logo }}" >
                    <h3>{{ post.company.name }}</h3>
                </div>
                <p class="status">{{ post.lowongan_kerja }}</p>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning">
            Belum ada lowongan kerja
        </div>
    {% endif %}    
{% endblock content %}