{% extends "layout/base.html" %}
{% block content %}
    {% if user and not user.is_anonymous %}
      <a>Hello, {{ user.get_full_name }}!</a>
      <br>
      <a href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'social:begin' backend='linkedin-oauth2' %}">Login with Linkedin</a>
    {% endif %}
{% endblock content %}