body {
  margin: 0;

  /*background-color:#e9ebee;*/
  font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Roboto Slab', serif;
} 

#atas{
  position: relative;
  left: 2rem;
}

#tengah{
  position: relative; left: 8rem
}

#bawah{
  position: relative;
  
}

.navbar-default {
    background-color: #333333;
    border-color: #222222;
  }

  .navbar-default .navbar-brand {
    color: #ffffff;
  }

  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #272727;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #272727;
  }


.box{
  position: relative;
  bottom: 12px;
  margin-top: 3rem;
  right: 3rem;
}

.menu {
  margin-top: 1rem;
  margin-right: auto;
  font-size: 1.5rem;
  right: 0;
  text-align: right;
}

#footer{
    position: relative;
    top: 26rem;
}

.img{
  position: relative;
  bottom: 20px;
  right: 280px;
   width: 70px;
   height: 70px;
}

h2{
  position: relative;
  left: 35rem;   
}

#django-messages{
  background-color: #fff

}

.lg{
  position: relative;
  top: 1rem;

}

.ln{
  position: relative;
  top: 5px;
}
a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.panel-heading h2 {
  position: relative;
  left: 0rem;
}

.sum{
   position: center;
  left: 10rem;
  margin-bottom: 5rem;
}

.score{
   position: relative;
  left: 12rem;
}

.wl{
  position: relative;
  top: 2rem; 
  left: 13rem;
}
.hal{
  background-color: 
  border-style: groove;
  position: relative;
  right: 4rem;
  margin-bottom: 5rem;
}


@media only screen and (max-width: 768px) {
    .movie-poster {
        margin-bottom: 30px;
    }
    .movie-detail .box {
        text-align: center;
    }
}


