
body {
  margin: 0;

  /*background-color:#e9ebee;*/
  font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Roboto Slab', serif;
} 


.navbar-default {
    background-color: #333333;
    border-color: #222222;
  }

  .navbar-default .navbar-brand {
    color: #ffffff;
  }

  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #272727;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #272727;
  }

.section {
    width: 100%;
    background: #ffffff;
    padding: 2rem 5rem;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(222,225,226,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(222,225,226,1);
    box-shadow: 0px 0px 15px 0px rgba(222,225,226,1);
    border-radius: 2rem;
    margin-bottom: 2rem;
}



.profile {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.profile img {
    position: absolute;
    width: 3.5rem;
    left: -3rem;
}

.profile h3 {
    position: relative;
    font-size: 1.15rem;
}

.date {
    position: relative;
    left: 3rem;
    padding-bottom: 1rem;
    display: inline;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0;
    margin-top: 15rem; 
}

.update-status {
    background: #FEFEFE;
    position: relative;
    margin: 0.75rem 0;
    padding: 2rem;
    width: 75%;
    -webkit-box-shadow: 0 0 15px 0 rgba(222, 225, 226, 1);
    -moz-box-shadow: 0 0 15px 0 rgba(222, 225, 226, 1);
    -o-box-shadow: 0 0 15px 0 rgba(222, 225, 226, 1);
    box-shadow: 0 0 15px 0 rgba(222, 225, 226, 1);
}

.status {
    position: relative;
    box-sizing: border-box;   
    margin: 2rem 0;
}

.b {
    background: #46b8da;
    color: #FEFEFE;
    padding: 9px 17px 10px 16px;
    border: solid #46b8da 2px;
    text-decoration: none;
}

.b:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.status-input-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.status-input {
    display: flex;
    flex-wrap: wrap;
    background: #FAFAFA;
    border-radius: 0.3rem;
}

.status-input textarea {
    width: 100%;
    height: 10rem;
    padding: 2rem 3rem;
    background: #FEFEFE;
    color: #49505D;
    resize: none;
    border: none;
    border-radius: 0.3rem;
}

.status-input input {
    margin-left: auto;
    border-radius: 0 0 0.3rem 0;
}

form.status-input {
    width: 75%;
    box-shadow: 0 0 15px 0 rgba(222, 225, 226, 1);
    -webkit-box-shadow: 0 0 15px 0 rgba(222, 225, 226, 1);
    -moz-box-shadow: 0 0 15px 0 rgba(222, 225, 226, 1);
    -o-box-shadow: 0 0 15px 0 rgba(222, 225, 226, 1);
    box-sizing: border-box;
}

.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 2s;
    -webkit-animation-name: fadeInDown;
    -webkit-animation-duration: 2s;
}

.bounce {
    animation-name: bounce;
    transform-origin: center bottom;
    -webkit-animation-name: bounce;
    -webkit-transform-origin: center bottom;
}

.lg{
  position: relative;
  top: 1rem;

}

.ln{
  position: relative;
  top: 5px;
}

@media screen and (max-width: 40em) {
    .status-input textarea {
        padding: 1.2rem 1.5rem;
    }

    .update-status {
        width: 89%;
    }
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
       opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes bounce {
    from,
    20%,
    53%,
    80%, 
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        transform: translate3d(0,-4px,0);
    }
}

@media screen and (max-width: 40em) {
    form.status-input {
        width: 100%;
    }
}
