{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forum Kerja</title>
    <meta charset="utf-8">
    <meta name="description" content="GG SocMed by Kelompok 14">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="https://firebasestorage.googleapis.com/v0/b/link-in.appspot.com/o/profile.svg?alt=media&token=112102bf-f4d9-451b-a876-7f5f49b21db9">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link href="{% static 'css/company.css' %}" rel="stylesheet"> 
    <link href="{% static 'forum.css' %}" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,600|Roboto+Slab" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    {% block css %}{% endblock css %}
</head>
<body background="http://www.uttarainfo.com/wp-content/uploads/2016/10/background3.jpg">
    {% include "partials/header.html" %}
    <div class="container-fluid" style="text-align: center"> 
        {% block content %}{% endblock content %}
    </div>
    {% include "partials/footer.html" %}
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>